protected net.minecraft.world.entity.Entity m_20272_(Lnet/minecraft/world/phys/Vec3;)Lnet/minecraft/world/phys/Vec3;

# Makes some EntityType fields public to allow our compartment builder to reference it
public net.minecraft.world.entity.EntityType f_20542_
public net.minecraft.world.entity.EntityType f_20543_

# Allows us to use the EntityType Builder super constructor
protected net.minecraft.world.entity.EntityType$Builder <init>(Lnet/minecraft/world/entity/EntityType$EntityFactory;Lnet/minecraft/world/entity/MobCategory;)V
# Makes all the vanilla EntityType Builder fields protected so we don't have to duplicate all the fields
protected net.minecraft.world.entity.EntityType$Builder f_20685_ #factory
protected net.minecraft.world.entity.EntityType$Builder f_20686_ #category
protected net.minecraft.world.entity.EntityType$Builder f_20687_ #immuneTo
protected net.minecraft.world.entity.EntityType$Builder f_20688_ #serialize
protected net.minecraft.world.entity.EntityType$Builder f_20689_ #summon
protected net.minecraft.world.entity.EntityType$Builder f_20690_ #fireImmune
protected net.minecraft.world.entity.EntityType$Builder f_20691_ #canSpawnFarFromPlayer
protected net.minecraft.world.entity.EntityType$Builder f_20692_ #clientTrackingRange
protected net.minecraft.world.entity.EntityType$Builder f_20693_ #updateInterval
protected net.minecraft.world.entity.EntityType$Builder f_20694_ #dimensions
protected net.minecraft.world.entity.EntityType$Builder f_244453_ #requiredFeatures

# Makes the container field public for our shulker compartment
public net.minecraft.world.inventory.ShulkerBoxMenu f_40186_ #container

# Make the player field of FurnaceResultSlot protected so we can easily reward xp
protected net.minecraft.world.inventory.FurnaceResultSlot f_39539_ #player

# Make multiple Explosion fields protected so we can use them in CannonballExplosion
protected net.minecraft.world.level.Explosion f_46012_ # level
protected net.minecraft.world.level.Explosion f_46013_ # x
protected net.minecraft.world.level.Explosion f_46014_ # y
protected net.minecraft.world.level.Explosion f_46015_ # z
protected net.minecraft.world.level.Explosion f_46016_ # source
protected net.minecraft.world.level.Explosion f_46017_ # radius
protected net.minecraft.world.level.Explosion f_46019_ # damageCalculator
protected net.minecraft.world.level.Explosion f_46020_ # toBlow
protected net.minecraft.world.level.Explosion f_46021_ # hitPlayers

# Need to expose SpriceSources#register in order to bake our boat textures dynamically
public net.minecraft.client.renderer.texture.atlas.SpriteSources m_260887_(Ljava/lang/String;Lcom/mojang/serialization/Codec;)Lnet/minecraft/client/renderer/texture/atlas/SpriteSourceType;